html {
  font-size: 1.3em;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
}

body {
  max-width: 1920px;
  min-width: 30em;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  --red: rgb(238, 77, 77);
  --green: rgb(30, 150, 66);
  --light: #f5f5fa;
  --dark-gray: rgb(49, 49, 49);
  --gray: #32343596;

  background: var(--light);
  color: var(--dark-gray);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  color: var(--key-color);
}

a:active {
  opacity: 0.5;
  transition: 0.02s;
}

button,
input,
textarea,
label {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

/* -------------------------------------------- */
/* COMMON STYLES */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2em;
  border: 0.1em solid var(--dark-gray);
  background-color: var(--dark-gray);
  color: var(--light);
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  color: var(--dark-gray);
  background: var(--light);
}

.task {
  margin: 1em 0;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.05em solid var(--gray);
  border-radius: 0.2em;
  transition: .3s;
  animation: show .6s both;
}

.task:hover {
  box-shadow: 0 0 .6em var(--gray);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.task.complete {
  background-color: var(--green);
  border-color: var(--green);
}

.fake-checkbox {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
  border-radius: .2em;
  background-color: var(--light);
  border: .1em solid var(--gray)
}

.fake-checkbox::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  background-color: transparent;
  transition: .3s;
}

.task__checkbox-complete:checked + .fake-checkbox::before {
  content: "✔";
}

.task__description {
  cursor: default;
  flex: 1;
  padding: .4em;
  font-size: 1.2em;
  border-radius: inherit;
  border: inherit;
  background-color: transparent;
  color: inherit;
}

.task__btn-delete {
  font-size: 2em;
  border-color: transparent;
  background-color: transparent;
  color: inherit;
}

.task__btn-delete:hover {
  background-color: transparent;
  color: var(--red);
}

/* -------------------------------------------- */

.header {
  width: 100%;
  border-bottom: 0.1em solid var(--gray);
}

.header__title {
  text-align: center;
}

.main {
  position: relative;
  width: 100%;
  min-height: 35em;
  height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.complete-section {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 9.6em;
  height: 2.7em;
  padding: .6em;
  overflow: hidden;
  border-radius: .2em;
  background-color: var(--dark-gray);
  color: var(--light);
}

.complete-section.visible {
  width: auto;
  height: auto;
}

.fake-complete-task-checkbox {
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
  border-radius: inherit;
  transition: .2s;
}

.fake-complete-task-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(50%);
  height: .1em;
  width: 0;
  background-color: var(--light);
  transition: inherit;
}

#visible-complete-task:checked + .fake-complete-task-checkbox::before {
  width: 100%;
}

.todo-app {
  min-width: 26em;
  max-width: 42em;
  width: 100%;
  padding: 1em;
  max-height: 30em;
  overflow: auto;
}

.todo-app__add {
  position: relative;
  height: 4em;
  overflow: hidden;
}

.btn-create-task {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: .1s;
}

.btn-create-task.hide {
  visibility: hidden;
  opacity: 0;
}

.wrapper-input-task {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: .3s;
}

.wrapper-input-task.hide {
  opacity: 0;
}

.input-task {
  flex: 1;
  padding: 1em;
  border-radius: .2em 0 0 .2em;
  border: 0.1em solid var(--gray);
  border-right: none;
  transition: .3s;
}

.input-task.void {
  border-color: var(--red);
}

.input-task:hover,
.input-task:focus {
  border-color: var(--dark-gray);
}

.btn-add-task {
  padding: 1em;
  border-radius: 0 .2em .2em 0;
}

.footer {
  width: 100%;
  border-top: 0.1em solid var(--gray);
}

.footer__description {
  text-align: center;
  color: var(--gray);
}
